.App {
    text-align: center;
}

.App h1 {
    font-family: var(--ff-logo);
    color: var(--clr-red);
}

.App h2 {
    font-family: var(--ff-logo);
    color: var(--clr-primary2);
    font-size: 36px;
    font-weight: bold;
}
.App-link {
    color: #61dafb;
}

.App button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    border-color: var(--clr-secondary);

    font-size: 14px;
    font-weight: bold;
    background-color: var(--clr-primaryexlight);
    color: var(--clr-primary2);
}

.App button:hover {
    background-color: var(--clr-primarylight);
}