.container {
    display:flex;
    text-align: left;
    height: 100px;
    width: 800px;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    margin: 10px;
}

.container dt {
    color: var(--clr-secondary);
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.container dd {
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    margin-right: auto;
}

.price {
    height: 50px;
    line-height: 50px;
    color: var(--clr-ora);
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container button {
    height: 50px;
}

.addToCart {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.image {
    background-color: green;
    width: 100px;
    height: 100px;
}