.App {
    text-align: center;
}

.App h1 {
    font-family: var(--ff-logo);
    color: var(--clr-red);
}

.App h2 {
    font-family: var(--ff-logo);
    color: var(--clr-secondary);
    font-size: 36px;
    font-weight: bold;
}
.App-link {
    color: #61dafb;
}