:root {
    --ff-body: "PT Sans Narrow", sans-serif;
    --ff-logo: "Shizuru", cursive;
    --clr-primary: #264653;
    --clr-primary2: #45606B;
    --clr-secondary: #2A9D8F;

    --clr-primarylight: #A2AFB5;
    --clr-primaryexlight: #C1CACD ;

    --clr-backgr: #E0E4E6;

    --clr-yell: #E9C46A;
    --clr-ora: #F4A261;
    --clr-red: #E76F51;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
